@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 1200px;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.box {
  border-radius: 30px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
}

.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 350px;
  height: 500px;
  text-align: center;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 5;
}

.head1 {
  color: hsl(219, 13%, 79%);
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 1.4rem;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.circle {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  box-sizing: content-box;
  margin-top: 35px;
  width: 170px;
  height: 170px;
}

.num {
  color: #ffffff;
  font-size: 4rem;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 35px;
}

.no {
  color: #abb0a8a9;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.great {
  color: #ffffff;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 35px;
}

.par {
  color: #b8bdc6;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500px;
  width: 23ch;
}

.summary {
  background-color: #ffffff;
  width: 390px;
  height: 500px;
  position: relative;
  box-shadow: 2px 2px 10px rgb(73, 0, 66, 0.1);
  padding-left: 90px;
  padding-right: 10px;
  transform: translateX(-50px);
  z-index: 1;
}

.head2 {
  margin-top: 40px;
  padding: 0 0 30px 0;
  margin-bottom: 0px;
  font-size: 1.4rem;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: hsl(224, 30%, 27%);
}

/* BOX RESULTADO DO SUMARIO */
.blo {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  width: 260px;
}

.blo .all {
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.blo .box-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.blo .all img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.blo .bold {
  color: #000;
  position: relative;
  font-size: 1rem;
  font-weight: 500;

}

.blo .bold span {
  color: hsl(219, 11%, 75%);
  padding: 5px;
}

.react {
  background-color: rgb(255, 85, 85, 0.1);
  color: rgb(255, 85, 85);
}

.memo {
  background-color: rgb(255, 178, 30, 0.1);
  color: rgb(255, 178, 30);
}

.verb {
  background-color: rgb(0, 187, 143, 0.1);
  color: rgb(0, 187, 143);
}

.vis {
  background-color: rgb(17, 37, 214, 0.1);
  color: rgb(17, 37, 214);
}

.btn {
  background-color: hsl(224, 30%, 27%);
  display: block;
  color: white;
  width: 250px;
  height: 55px;
  border-radius: 30px;
  margin: 20px 0;
  text-align: center;
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: .4 ease;
}

.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));}

@media (max-width:750px) {
  .result {
    width: 300px;
    height: 450px;
  }

  .summary {
    width: 330px;
    height: 450px;
    padding: 0 70px;
  }

  .num {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 30px;
  }

  .no {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .great {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 15px;
  }

  .blo .all {
    width: 250px;
  }

  .btn {
    padding-top: 10px;
  }
}

@media (max-width: 650px) {
  .container {
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .box {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    flex-direction: column;
  }

  .result {
    height: 250px;
    text-align: center;
    z-index: 9;
  }

  .head1 {
    font-size: 1.1rem;
    margin-top: 5px;
  }

  .head2 {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .circle {
    margin-top: 15px;
    width: 100px;
    height: 100px;
  }

  .num {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 15px;
  }

  .no {
    font-size: .8rem;
    font-weight: 600;
  }

  .great {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 5px;
  }

  .par {
    font-size: .9rem;
    width: 260px;
  }

  .summary {
    width: 300px;
    padding-left: 0;
    transform: none;
    padding: 5px 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .summary::after {
    background-color: #ffffff;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
  }

  .summary::before {
    background-color: #ffffff;
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -30px;
    right: 0;
  }

  .blo .all {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    padding: 15px 0;
  }
}